<section class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Project Detail Card -->
      <div class="project-detail">
        <h1>Dumbways Web App</h1>
        <div class="project-content">
          <img class="detail-img" src="./assets/img/luffy.jpg" alt="project image" />
          <div class="detail-data">
            <div class="duration-tech-container">
              <div class="duration">
                <h2>Duration</h2>
                <p><i class="fa-solid fa-calendar-days fa-xl"></i> 12 Jan 2021 - 11 Feb 2021</p>
                <p><i class="fa-solid fa-stopwatch fa-xl"></i> 1 month</p>
              </div>
              <div class="tech">
                <h2>Technologies</h2>
                <div class="tech-icon">
                  <div>
                    <i class="fa-brands fa-react"></i>
                    <p>React Js</p>
                  </div>
                  <div>
                    <i class="fa-brands fa-node-js"></i>
                    <p>Node Js</p>
                  </div>
                  <div>
                    <i class="fa-brands fa-laravel"></i>
                    <p>Laravel</p>
                  </div>
                  <div>
                    <i class="fa-brands fa-bootstrap"></i>
                    <p>Bootstrap</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="project-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet finibus nisl, id
              sollicitudin
              tellus. Suspendisse feugiat sagittis libero a blandit. Ut non varius nisl, vitae dapibus nisi. Fusce vel
              vestibulum nunc. Nulla facilisi. Proin at leo placerat, congue leo id, vulputate tortor. Duis egestas
              dignissim imperdiet. Donec ut consequat elit. Aliquam justo velit, rutrum in felis ac, congue
              consectetur
              velit. Integer vel odio vel massa consectetur congue. Etiam vel aliquet mi. Nulla in posuere nisl.
              Maecenas
              id ipsum sit amet elit sodales placerat. Donec condimentum purus dolor, placerat sodales ante
              ullamcorper
              laoreet. Sed a massa facilisis, porttitor est ac, viverra nibh. Integer ligula tellus, ultrices sodales
              eros
              at, tristique luctus dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
              cubilia
              curae; Integer faucibus mi quis mauris efficitur tempus. Cras commodo viverra finibus. Donec fermentum
              eros
              nec orci ullamcorper, eget efficitur magna finibus. Fusce consequat malesuada mattis. Donec egestas
              mattis
              ante, quis pellentesque est euismod cursus. Fusce faucibus lorem augue. Sed tristique odio ac convallis
              sagittis. Praesent commodo nisl nunc, id gravida velit rhoncus auctor. Maecenas pretium ante a rutrum
              laoreet. Cras quis nibh eu tellus consectetur feugiat et facilisis libero. Aliquam luctus massa ante, ac
              blandit orci hendrerit ut.
            </p>
          </div>
        </div>
        <div class="card-actions">
          <a href="#" class="btn btn-secondary me-2">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</section>