 <!-- Login Section -->
 <section class="container mt-5">
   <!-- Form -->
   <form action="/login" method="POST">
     <h1 class="mb-4">LOGIN TO YOUR ACCOUNT</h1>
     <div class="mb-3">
       <label for="emailInput" class="form-label">Email</label>
       <input id="emailInput" name="email" type="email" class="form-control" required>
     </div>
     <div class="mb-3">
       <label for="passwordInput" class="form-label">Password</label>
       <input id="passwordInput" name="password" type="password" class="form-control" required>
     </div>
     <div class="mb-3">
       <button type="submit" class="btn btn-primary">Login</button>
     </div>
   </form>
   <div class="register-account mt-4">
     <p>Don't have an account? <a href="/register">Register</a></p>
   </div>
 </section>
 <!-- Login End -->