<!-- Registration Form -->
<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <!-- Display Alerts -->
      <% if (error) { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
      <% } %>

      <% if (success) { %>
      <div class="alert alert-success">
        <%= success %>
      </div>
      <% } %>

      <!-- Registration Form -->
      <div class="card-regis shadow-lg p-4 rounded">
        <h1 class="text-center mb-4">Register</h1>
        <form action="/register" method="POST">
          <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input id="usernameInput" name="username" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input id="emailInput" name="email" type="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input id="passwordInput" name="password" type="password" class="form-control" required>
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
        <div class="text-center mt-3">
          <p class="mb-0">Already have an account? <a href="/login" class="text-primary fw-bold">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Registration Form -->