<!-- Testimonials Filter Section -->
<section class="container my-5">
  <h1>Testimonials</h1>
  <div class="container-rating">
    <h2>Ranking by Stars</h2>
    <div class="rating">
      <button class="rating-btn" onclick="allTestimonials()">All</button>
      <button class="rating-btn" onclick="filterTesti(1)">
        1 <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTesti(2)">
        2 <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTesti(3)">
        3 <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTesti(4)">
        4 <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTesti(5)">
        5 <i class="fa-solid fa-star"></i>
      </button>
    </div>
  </div>
</section>

<!-- Testimonials List Section -->
<section class="container my-5">
  <div id="testimonials-list">
    <!-- Testimonials will be dynamically loaded here -->
  </div>
</section>

<!-- Javacsript Testi -->
<script src="assets/js/testimonial.js"></script>