body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #dbdbdb;
  padding: 0 100px;
  align-items: center;
}

nav .left ul {
  display: flex;
  align-items: center;
  padding: 0;
}

nav .left ul img {
  margin-right: 40px;
}

nav .left ul li a {
  color: black;
  text-decoration: none;
  font-weight: 800;
}

nav .left ul .active a {
  font-weight: bold;
  color: orangered;
}

nav .right a {
  text-decoration: none;
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 800;
}

nav .left ul li {
  list-style-type: none;
  margin-right: 25px;
}

.logo {
  width: 40px;
}

/* form styling */

form {
  width: 300px;
  margin: 50px auto;
}

input,
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(197, 182, 182);
}

textarea {
  resize: vertical;
}

form div {
  margin-bottom: 15px;
}

form label {
  font-weight: 500;
}

form button {
  background-color: orangered;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(255, 166, 0);
  transition: 0.5s;
}
